div.head-back{
    display: flex;
    background-color: #104F5B;
    justify-content: space-between;
}

app-org-desplegable{
    display: flex;
    height: 100%;
    justify-content: flex-start;
}

perfil{
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}