body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
}

app-login,
signup-form{
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #4d4b4b;
    padding-top: 50%;
}