<div class="content">
    <div class="head">
        <h2 class="title">MIEMBROS</h2>
    </div>
    <div class="bg-members">
        <div *ngIf="orgInfo.isAdmin; else cont" class="flex">
            <a *ngFor="let member of members"
                class="admin" (click)="onClick();">
                <img src="../../../assets/pictures/delete.png" width="25px" height="25px">
                <p>{{member.username}}</p><br/>
            </a>
        </div>

        <ng-template #cont>
            <p *ngFor="let member of members" class="user">
                 {{member.username}}<br/>
            </p>
        </ng-template>
    </div>
</div>
