.content{
    width: 251px;
    height: 100px;
    transition: all 0.5s ease;
}

.head{
    background:linear-gradient(to bottom, #53A4BD 5%, #478ca1 100%);
    background-color: #53A4BD;
    padding: 5px;
    color: whitesmoke;
}

h2.title{
    font-size: x-large;
    font-weight: bold;
    transition: all 0.5s ease;
    text-align: center;
    padding: 10px;
    margin: 0;
}

div.bg-members{
    background:linear-gradient(to bottom, #FCE5BA 5%, #f3d399 100%);
    background-color: #FCE5BA;
    height:85vh;
    overflow-y: auto;
}

.flex{
    display: flex;
    flex-direction: column;
}

a.admin{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
}
a.admin:hover{
    color: whitesmoke;
    background:linear-gradient(to bottom, #d53930 5%, #ba362f 100%);
	background-color:#d53930;
    cursor: pointer;
}

p{
    padding: 0;
    margin: 0;
    transition: all 0.2s;
}

a.admin:hover p{
    transform: translateX(-20px);
}

a img{
    transform: scale(0);
    transition: all 0.5s;
    float: left;
}

a.admin:hover img{
    transform: scale(1);
}

p.user{
    margin: 0;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
    transition: all 0.5s ease;
}

p.padding:hover,
a.user:hover{
    border-radius: 5px;
}

p.user:hover{
    font-size: x-large;
    background:linear-gradient(to bottom, #f8dfb1 5%, #fddb9d 100%);
    background-color: #f8dfb1
}

@media screen and (max-width: 900px) {
    .content{
        width: 156px;
    }
    p.user,
    a.admin{
        padding: 5px 0;
    }
}

@media screen and (max-width: 500px) {
    .content{
        width: 100vw;
        height: 45vh;
    }
    h2.title{
        font-size: medium;
    }
    p.user,
    a.admin{
        font-size: medium;
    }
    p.user:hover,
    a.admin:hover{
        font-size: large;
    }
}