<div>
  <div class="cont">
    <h1 class="title">Inicia Sesión</h1>
    <form class="form" (ngSubmit)="submit()" #loginForm="ngForm">

      <div class="cent">
          <label for="usernameInput">Username</label><br/>
          <input
              id="usernameInput"
              type="text"
              required [(ngModel)]="loginInformation.username"
              placeholder="GuilemTheGolem"
              name="username">
      </div>
      <div class="cent">
          <label for="passwdInput">Password</label><br/>
          <input
              id="passwdInput"
              type="password"
              [(ngModel)]="loginInformation.password"
              placeholder="Contraseña"
              name="password"
              required
              pattern=".*"/>
      </div>
      <div class="cent">
        <div class="formGroup buttonGroup">
          <button [disabled]="!loginForm.valid" type="submit">Iniciar Sesión</button>
          <br/><span class="space">Or</span><br/>
          <button (click)="router.navigate(['/signup'])">Registrarse</button>
        </div>
      </div>
      <div *ngIf="show_error" class="invalid-feedback">
        <div>
            <p class="error">{{error_message}}</p>
        </div>
    </div>
    </form>
  </div>

</div>
