body{
    background-color: grey;
}

.title{
    text-align: center;
}

.cont{
    display: grid;
    justify-content: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px #555;
}

.cent{
    text-align: center;
    margin-top: 20px
}

.invalid-feedback{
    color: white;
    box-shadow: 0px 5px 10px rgba(167, 54, 54, 0.95);
    background-color: rgba(167, 54, 54, 0.75);
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;    
}

input[type="text"],
input[type="password"]/*,
button[type="submit"]*/
{
    border-radius: 10px;
    border: 1px solid #555;
    padding: 5px;
    text-align: center;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder{
    text-align: center;
}

/*
button[type="submit"]{
    background-color: #555;
    color: aliceblue;
    padding: 10px;
}*/
