div.body-back{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

.header{
    max-height: 50px;
}

.desc{
    position: fixed;
    left: 0;
}

.members{
    position: fixed;
    right: 0; 
}

.bg-image{
    width: 100%;
    text-align: center;
    position:absolute;
    bottom: 0;
    transition: all 1s ease;
}

img{
    width: 1080px;
    height: 601px;
}

@media screen and (max-width: 500px) {
    div.flex{
        display: flex;
        flex-direction:  column;
    }
    .bg-image{
        display: none;
    }
    .members, .desc{
        position: inherit;
    }
}

@media screen and (max-width: 900px){
    img{
        width: 810px;
        height: 450px;
    }
}

@media screen and (max-height: 700px) {
    img{
        width: 540px;
        height: 300px;
    }
}