.green-bg{
    width: 350px;
    height: 100vh;
    background-color: #104F5B;
    margin: 0px;
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p#organization, 
p#description{
    color: whitesmoke;
    margin: 0;
}

p#organization{
    padding-top: 50px;
    font-size: x-large;
    font-weight: bold;
}

p#description{
    text-align: justify;
    padding: 25px;
    font-size: large;
    font-weight: normal;
}