
.profile-img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin-top: 16px;
    border-radius: 100%;
    border: whitesmoke 2px solid;
}

.conteiner-profile{
    background: #22768C;
    color: white;
    border: 3px solid #22768C;
    cursor: pointer;
    transition: 0.5s;
    height: 81px;
    width: 245px;
    line-height: 50px;
    margin: 0;
}

.conteiner-profile:hover{
    border-color: whitesmoke;
}

.style-letter, p{
    color: whitesmoke;
    text-decoration: none;
}

p{
    padding-left: 10px;
}

a{
    display: flex;
    justify-content: space-between;
    grid-template-rows: auto auto;
    margin-left: 27px;
    margin-right: 27px;
}

.select-organization{
    background-color: #CFD8DC;
    position: absolute;
    width: 245px;
    padding: 0px 25px;
    border-style: solid;
    border-color: #CFD8DC;
    z-index: 2;
}

.vertical-flex{
    padding-top: 10px;
    padding-bottom: 10px;
}
.horizontal-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    background-color: #ff0000;
    width: 197.59px;
    height: 47px;
    border-radius: 10px;
    
}

@media screen and (max-width: 900px) {
    .conteiner-profile{
        width: 150px;
    }
}

@media screen and (max-width: 500px) {
    .green-bg{
    }
}
  
