.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin-top: 16px;
    border-radius: 100%;
    border: whitesmoke 2px solid;
}

.conteiner-profile{
    background: #22768C;
    color: white;
    border: 3px solid #22768C;
    cursor: pointer;
    transition: 0.5s;
    height: 81px;
    width: 245px;
    line-height: 50px;
    margin: 0;
}

.conteiner-profile:hover{
    background-color: #22768C95;
    border-color: whitesmoke;
}

.style-letter, p{
    color: whitesmoke;
    text-decoration: none;
}

p{
    padding-left: 70px;
}

a{
    display: flex;
    justify-content: space-between;
    grid-template-rows: auto auto;
    margin-left: 27px;
    margin-right: 27px;
    text-decoration: none;
}

.select-organization{
    background:linear-gradient(to bottom left, #CFD8DC 5%, #b9c2c6 100%);
    background-color: #CFD8DC;
    position: absolute;
    width: 245px;
    border-style: solid;
    border-color: #CFD8DC;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}



.vertical-flex{
    padding-top: 10px;
    padding-bottom: 10px;
}
.horizontal-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    box-shadow: 0px 7px #666;
    background:linear-gradient(to bottom, #d53930 5%, #ba362f 100%);
	background-color:#d53930;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s;
}

.horizontal-flex:hover{
    background:linear-gradient(to bottom, #ba362f 5%, #d53930 100%);
    background-color:#ba362f;
    border-color: red;
  }

.horizontal-flex:active{
    transform: translateY(5px);
    box-shadow: 0px 4px #666;
}

@media screen and (max-width: 900px) {
    .conteiner-profile{
        width: 150px;
    }
}

@media screen and (max-width: 500px) {
    .green-bg{
    }
}
  
