<div (mouseenter)="displayOrganization()" (mouseleave)="closeOrganization()">
    <a class="conteiner-profile" (click)="changeShowAdd()" [routerLink]='["/main/edit-profile"]' >
        <div class="style-letter">
            <p>{{username}}</p>
        </div>
        <div>
            <img id="profile-img" class="profile-img" src="{{imgURL}}">
        </div>
    </a>
    <div class="select-organization" (mouseleave)="closeOrganization()" *ngIf="show">
        <div class="vertical-flex" *ngIf="show">
            <a class="horizontal-flex style-letter" (click)="closeSession()" [routerLink]="['/login']">Cerrar Session</a>
        </div>
    </div>
</div>