.green-bg{
    width: 300px;
    height: 100vh;
    background-color: #104F5B;
    margin: 0px;
    transition: all 0.5s ease;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p#organization, 
p#description{
    color: whitesmoke;
    transition: all 0.5s ease;
    margin: 0;
}

p#organization{
    padding-top: 50px;
    font-size: x-large;
    font-weight: bold;
}

p#description{
    text-align: justify;
    padding: 25px;
    font-size: large;
    font-weight: normal;
}

@media screen and (max-width: 900px) {
    .green-bg{
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    .green-bg{
        width: 200px;
    }
    p#organization{
        font-size: large;
        padding-top: 25px;
    }
    
    p#description{
        font-size: medium;
    }
}