@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

select{
    appearance: none;
}
select::-ms-expand{
    display: none;
}

select{
    width: 250px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 0;
    background: #22768C;
    border: 3px solid #22768C;
    color: whitesmoke;
    font-size: medium;
    transition: all 0.5s ease;
}

select:hover{
    border-color: whitesmoke;
}

select:focus{ outline: none}

option, select{
    text-align: center;
    font-weight: bold;
}
  