<div class="create-organization-grid">
  <form id="create-organization-form" style="display: none"></form>

  <div class="name-element form-element">
    <label for="organization-name">Nombre de tu organización</label>
    <input [(ngModel)]="model.name" name="name" id="organization-name">
  </div>

  <div class="description-element form-element">
    <label for="organization-desc">Descripción de tu organización</label>
    <textarea [(ngModel)]="model.description" name="desc" id="organization-desc"></textarea>
  </div>

  <button (click)="onSubmit()" class="create-organization-button">Crear organización</button>

  <div class="image-element">
    <img alt="Proposed organization image" [src]="model.imgURL">
    <input type="file" (change)="onSelectedFile($event)" style="display: none" #fileUpload>
    <button (click)="fileUpload.click()">Cambiar imagen</button>
  </div>
</div>
