.header-display{
    background: #104F5B;
    height: 87px;
    padding: 0%;
    margin: 0%;
}

.header-display > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.header-display > li {
    margin: 0 10px;
}