<div class="main-content horizontal-flex">


  <div class="vertical-flex" style="height:100px">

    <div class="horizontal-flex">
      <p>Username</p>
      <input [placeholder]="authService.user?.username"
      required [(ngModel)]="user.username">
      <button (click)="ChangeUsername()"> Guardar </button>
    </div>
    <div class="horizontal-flex">
      <p>Fullname</p>
      <input [placeholder]="authService.user?.fullname"
      required [(ngModel)]="user.fullname">
    </div>
    <div class="horizontal-flex">
      <p>Password</p>
      <input type="password"
      required [(ngModel)]="user.oldPassword">
    </div>
    <div class="horizontal-flex">
      <p>New Pass</p>
      <input type="password"
             required [(ngModel)]="user.newPassword">
      <button (click)="ChangePassword()"> Change </button>
    </div>
  </div>

  <div class="vertical-flex img-container">
    <img [src]="authService.user?.imgURL" >
    <input style="display:none" type="file">
    <button>Cambiar imagen</button>
  </div>
</div>
<div class="horizontal-flex">
  <div *ngIf="show_error" class="mat-error">
    No puedes eliminar tu cuenta hasta que hayas salido de todas las organizaciones
  </div>
  <button (click)="Delete()" class="warning-button"> Eliminar Cuenta </button>
</div>
