<div class="organization-display" 
    (mouseenter)="displayOrganization()" 
    (mouseleave)="closeOrganization()">
    <p class="select-one">Administrador</p>
    <div class="select-organization" 
        (mouseleave)="closeOrganization()" *ngIf="true">
        <div class="vertical-flex" *ngIf="true">
            <a *ngFor="let o of organizations" 
                [routerLink]="['/main/organization', o.id]" >
                {{o.name}}
            </a>
            <a>Añadir a un usuario</a>
            <a>Eliminar Organización</a>
        </div>
    </div>
</div>