.content{
    width: 175px;
    height: 100vh;
    transition: all 0.5s ease;
    overflow-y: auto;
}

.head{
    background-color: #53A4BD;
    padding: 5px;
    color: whitesmoke;
}

h2.title{
    font-size: x-large;
    font-weight: bold;
    transition: all 0.5s ease;
    text-align: center;
}

div.bg-members{
    background-color: #FCE5BA;
}

p.padding{
    margin: 0;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
    transition: all 0.5s ease;
}

p.padding:hover{
    font-size: x-large;
    background-color: #fff5;
    border-radius: 30px;
}

@media screen and (max-width: 900px) {
    .content{
        width: 150px;
    }
    p.padding{
        padding: 5px 0;
    }
}

@media screen and (max-width: 500px) {
    .content{
        width: 100vw;
        height: 45vh;
    }
    h2.title{
        font-size: medium;
    }
    p.padding{
        font-size: medium;
    }
    p.padding:hover{
        font-size: large;
    }
}